@charset "utf-8";
/* CSS Document */

/* General */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* linea naranja */
.container2{
    background:#FF5900;
    height: 100%;
    width: 12%;
	position: absolute;
	right: 0px; 
}

.A{
    padding-top: 50%;
    height: 90%;
    opacity: 30%;
    display: block;
    max-width: 100%;
}

/* Barra de navegación */
.barra{
	width: 1010px;
}

.container{
    background:#ffffff;
    height: 80px;
    width: 100%;
}

/* menu barra */
.barra{
    width: 88%;
    position: fixed;
    z-index: 3;
}

.imglogo{
	float: left;
	padding: 10px;
	height: 80px;
}

.container{
    background: #ffffff;
    height: 80px;
    width: 100%;
}

.logo{
    float: left;
    padding: 10px;
    height: 80px;
}

.menu{
    float: right;
    height: 40px;
}

.nav p{
    height: 40px;
}

.nav-item{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-link-item{
    color: #000000;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav-link-item:hover{
    color: #ffffff;
    background: #FF5900;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 3px;
    text-transform: uppercase;
}

